build
*.class
README.TXT
/ChatServer/dist/
/ChatClient/dist/
/ChatServer/nbproject/private/
/ChatClient/nbproject/private/
/ChatServer/.settings/
/ChatServer/bin/
/ChatClient/.settings/
/ChatClient/bin/